<h1>Single picture page</h1>
<%= link_to "Back to home", "/pictures" %><br>
<%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>
<p>
  <%= @picture.artist %>
  <%= @picture.title %>
</p>

<p>
  <%= image_tag(@picture.url) %>
</p>
